extends layout

block content
    div(class='row')
        div(class='col col-lg-10 content')
            h1(class='display-3') #{comic.title}
            p By: #{comic.author.name}
            img(src=comic.image, class='img-fluid')       
            p Link: 
                a(href=comic.source) #{comic.source}
            hr(class='my-4')
            h3 Description:
            p #{comic.description}
            hr(class='my-4')
            h4 Tags:
            ul
                each tag in comic
                    li
                        a(href=tag.url) #{comic.tag}
                else
                    li There are no tags for this comic yet.