extends layout

block content
    div(class='row')
        div(class='col col-lg-10 content')
            h1(class='display-3') #{comic.title}
            p By: #{comic.author}
            div(class='comicRating', data-rating=comic.averageRating)
            div(class='clearBoth')
            img(src=comic.image, class='img-fluid')       
            p Link: 
                a(href=comic.source) #{comic.source}
            hr(class='my-4')
            h3 Description:
            p #{comic.description}
            hr(class='my-4')
            h4 Tags:
            ul
                each tag in comic.tag
                    li
                        a(href=tag.url) #{tag.name}
                else
                    li There are no tags for this comic yet.
                    
            form(method='POST' action='/comics/addcomment')
                div.form-group
                    label(for='content') Comment:
                    textarea#comment.form-control(name='content', class='area', placeholder='Write a comment', required='true', value=(undefined===comment ? '' : comment.content),)
                    input(type='hidden' name='username' value=user.username)
                    input(type='hidden' name='comicid' value=comic._id)
                button.btn.btn-primary(type='submit') Submit
            
            each comment in comments
                hr(class='my-4')  
                p #{comment.user} - #{comment.time_posted}
                textarea#comments(class='carea', type='textarea') #{comment.content}
            else
                li Be the first one to comment!
            hr(class='my-4')